<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/metric1">Price Per Person Mapped</a></li>
        <li><a href="/metric2">Graph Metric 2</a></li>
        <li><a href="/metric3">Graph Metric 3</a></li>
        <li><a href="/priceEstimation">Price Estimation</a></li>
        <li><a href="/bookingsOptimization">Bookings Optimization</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:nlparis@umich.edu">Email</a></li>
    </ul>
</footer>
</body>
</html>