<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <table>
        <td><a href="/">Home</a></td>
        <td><a href="/metric1">Price Per Person Mapped</a></td>
        <td><a href="/metric2">Graph Metric 2</a></td>
        <td><a href="/metric3">Graph Metric 3</a></td>
        <td><a href="/priceEstimation">Price Estimation</a></td>
        <td><a href="/bookingsOptimization">Bookings Optimization</a></td>
    </table>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
</footer>
</body>
</html>