<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<nav>
    <table>
        <td style="font-weight: bold;padding: 8px;border-left: solid 1px #f00;"><a href="/SanFran6Homes/">Home</a></td>
        <td style="font-weight: bold;padding: 8px;border-left: solid 1px #f00;"><a href="/SanFran6Homes/metric1">Price Per Person Mapped</a></td>
        <td style="font-weight: bold;padding: 8px;border-left: solid 1px #f00;"><a href="/SanFran6Homes/metric2">Yearly Earnings</a></td>
        <td style="font-weight: bold;padding: 8px;border-left: solid 1px #f00;"><a href="/SanFran6Homes/metric3">Occupancy Rate</a></td>
        <td style="font-weight: bold;padding: 8px;border-left: solid 1px #f00;"><a href="/SanFran6Homes/priceEstimation">Price Estimation</a></td>
        <td style="font-weight: bold;padding: 8px;border-left: solid 1px #f00;border-right: solid 1px #f00;"><a href="/SanFran6Homes/bookingsOptimization">Bookings Optimization</a></td>
    </table>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
</footer>
</body>
</html>
